---
title: Home
layout: layouts/page.liquid
---
<section class="intro">
  <div class="intro__avatar">
    <img class="intro__avatar__img" src="./img/saalik.jpg" alt="Saalik"/>
  </div>
  <div class="intro__about">
    <h1>Hi, I'm Saalik</h1>
    <p>I'm a person!</p>
  </div>
</section>  
